<!-- footer.html -->
<footer class="footer">
    <div class="footer__top">
        <div class="footer-container">
            <div class="footer__top-head">
                <a href="#" class="footer__logo">
                    <img src="img/Chatman_logo_Artboard.png" alt="logo" class="footer__logo-icon">
                    Chatman
                </a>
                <p class="footer__gray">Talk. The new way.</p>
            </div>
            <p class="footer__text-white">Чатмен- система коммуникации, что обьединяет все средства связи.</p>
            <p class="footer__text">
                Мы как никто другой понимаем, что 90: вероятности успешной продажи зависят от правильного и современного диалога с клиентом. Имея огромный опыт в построении работающих систем продаж, мы добавили только те возможности, что действительно генерируют максимум.
            </p>
            <nav class="footer__nav">
                <ul class="footer__menu">
                    <li class="footer__item">
                        <a href="#" class="footer__link">О компании</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Возможности</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Тарифы</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Контакты</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Другие ссылки</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Вакансии</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__row">
                <p class="footer__link">2019 © Chatman Inc.</p>
                <nav>
                    <ul class="footer__menu">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Copyright</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Privacy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Terms of Use</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Security</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</footer>