<!-- header.html -->
<header class="header">
	<div class="container">
		<div class="header-row">
			<a href="#" class="logo">
				<img src="img/logo.png" alt="logo" class="logo-icon">
				Chatman
			</a>
			<nav class="nav">
				<ul class="menu">
					<li class="menu-item"><a href="#" class="menu-link">Возможности</a></li>
					<li class="menu-item"><a href="#" class="menu-link">Тарифы</a></li>
					<li class="menu-item"><a href="#" class="menu-link">Доп ссылка</a></li>
					<li class="menu-item"><a href="#" class="menu-link">Контакты</a></li>
				</ul>
			</nav>
			<div class="header-row">
				<a href="#" class="sign-in">Войти</a>
				<select>
					<option value="Rus">Rus</option>
				</select>
				<div class="burger">
					<div class="burger-line burger-top"></div>
					<div class="burger-line burger-center"></div>
					<div class="burger-line burger-bottom"></div>
				</div>
			</div>

		</div>

	</div>
</header>