<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--    <link rel="shortcut icon" href="img/" type="image/x-icon">-->
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<div class="wrap">
    @import "header.html"
    <div class="container">
        <section class="contacts">
            <div class="contacts-row">
                <div class="contacts-left">
                    <h2 class="title">Связаться с нами</h2>
                    <p>Используйте меню в правом нижнем углу или нажмите кнопку. Используйте меню в правом нижнем углу или нажмите кнопку.</p>
                    <a href="#" class="btn">задать свой вопрос</a>
                </div>
                <div class="contacts-right">
                    <p class="text-18">Для староверов <br>
                        или формального общения</p>
                    <p class="text-small-gray">Юридический адрес:</p>
                    <p class="contacts__address">ТОВ “Чатмэн” <br>
                        ул. Николая Гринченко 12, оф. 23-44 <br>
                        г.Киев, Украина, 03190
                    </p>
                    <p class="text-small-gray">Электронная почта:</p>
                    <a href="#" class="contacts__link">
                        <span class="contacts__link-address">sales@chatman.com</span>
                        <span class="contacts__link-span">отдел продаж</span>
                    </a>
                    <a href="#" class="contacts__link">
                        <span class="contacts__link-address">support@chatman.com</span>
                        <span class="contacts__link-span">полддержка существующих пользователей</span>
                    </a>
                    <a href="#" class="contacts__link">
                        <span class="contacts__link-address">billing@chatman.com</span>
                        <span class="contacts__link-span">финансовые вопросы</span>
                    </a>
                </div>
            </div>
        </section>
    </div>

</div>
@import "footer.html"
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
