<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--    <link rel="shortcut icon" href="img/" type="image/x-icon">-->
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

   <div class="wrap">
	   @import "header.html"
	   <div class="container">
		   <section class="offer">
			   <div class="offer-item">
				   <h1 class="title-main">Бизнес коммуникация, <br>
					   что работает как<br>
					   единое целое.</h1>
				   <p class="text-18">Клиенты предпочитают общаться так, как удобно именно им. <br>
					   Теперь для вас это не проблема.</p>
				   <form class="form">
					   <input type="text" placeholder="email address" required>
					   <button type="submit" class="btn">Начать</button>
				   </form>
			   </div>
			   <img src="img/logos.png" alt="logos" class="offer-img">
		   </section>
		   <section class="second">
			   <h2 class="title">Бэк-энд для профессионального <br> колл-центра</h2>
			   <div class="row">
				   <img src="img/img_1.png" alt="img" class="second-img">
				   <ul class="list">
					   <li class="list-item">
						   <div class="list-icon">
							   <img src="img/icon_1.png" alt="icon">
						   </div>
						   <div class="list-col">
							   <p class="list-title">Больше, чем онлайн чат</p>
							   <p class="list-text">Обрабатывайте клиентов из мессенджеров также, как вы делали это в чате. Очередь диалогов, автоназначение операторов и многое другое.</p>
						   </div>
					   </li>
					   <li class="list-item">
						   <div class="list-icon">
							   <img src="img/icon_2.png" alt="icon">
						   </div>
						   <div class="list-col">
							   <p class="list-title">Аналитика в реальном времени</p>
						   </div>
					   </li>
					   <li class="list-item">
						   <div class="list-icon">
							   <img src="img/icon_3.png" alt="icon">
						   </div>
						   <div class="list-col">
							   <p class="list-title">Рассылка в мессенджерах</p>
						   </div>
					   </li>
					   <li>
						   <a href="#" class="link-red">
							   Смотреть все возможности
							   <img src="img/arrow-point-to-right.png" alt="arrow" class="link-red-arrow">
						   </a>
					   </li>
				   </ul>
			   </div>
		   </section>
		   <section class="third">
			   <h2 class="title">Маленький виджет <br> с большими возможностями</h2>
			   <img src="img/img_circles.png" alt="circles" class="third-img">
			   <div class="row">
					<div class="third-item">
						<div class="third-icon">
							<img src="img/icon_4.png" alt="icon">
						</div>
						<p class="third-title">Простая кастомизация виджета</p>
						<p class="third-text">Управляйте позиционированием, цветовыми решениями, размерами виджета без привлечения IT специалистов. Виджет полностью настраивается именно под ваши нужды.</p>
					</div>
				   <div class="third-item">
					   <div class="third-icon">
						   <img src="img/icon_5.png" alt="icon">
					   </div>
					   <p class="third-title">Процессиг данных клиентов</p>
					   <p class="third-text">Настраивайте формы таким образом, чтобы получить исчерпывающую информацию от клиента еще до начала диалога ( например, телефон или выбор департамента).</p>
				   </div>
				   <div class="third-item">
					   <div class="third-icon">
						   <img src="img/icon_6.png" alt="icon">
					   </div>
					   <p class="third-title">Триггеры и активные приглашения</p>
					   <p class="third-text">Используйте активные приглашения или отображайте ваш контент в зависимости от тех, или иных действий посетителей. Полная автоматизация процесса.</p>
				   </div>
			   </div>
			   <a href="#" class="link-red">
				   Смотреть все возможности
				   <img src="img/arrow-point-to-right.png" alt="arrow" class="link-red-arrow">
			   </a>
			   <div class="third-image"></div>
		   </section>
	   </div>
	   <section class="fourth">
		   <div class="container">
			   <h2 class="title">Используйте все возможности <br>
				   сиситемы уже сегодня..</h2>
			   <p class="text-18"> Установка занимает всего несколько минут</p>
			   <form class="form">
				   <input type="text" placeholder="email address" required>
				   <button type="submit" class="btn">Начать</button>
			   </form>
			   <div class="gift">
				   <p class="gift-text">Полный доступ бесплатно на <a href="#"> 14 дней</a></p>
				   <img src="img/gift.png" alt="gift" class="gift-icon">
			   </div>
		   </div>
	   </section>
	   <section class="fifth">
		   <div class="container">
			   <h2 class="title">Заботимся о вашем доходе</h2>
			   <p class="text-15">Мы как никто другой понимаем, что 90: вероятности успешной продажи зависятот правильного и современного диалога с клиентом. Имея огромный опыт в построении работающих систем продаж, мы добавили только те возможности, что действительно генерируют максимум.</p>
		   </div>
	   </section>
	   <section class="sixth">
		   <div class="container">
			   <ul class="tabs">
				   <li class="tabs-item active">Продажи x2</li>
				   <li class="tabs-item">Прицельный маркетинг</li>
				   <li class="tabs-item">Эффективный колл-центр</li>
			   </ul>
			   <ul class="content">
				   <li class="content-item active">
                       <div class="slider">
                           <div>
                               <div class="slider-slide">
                                   <img src="img/icon_7.png" alt="icon" class="slider-icon">
                                   <h3 class="text-24">Продажи x2</h3>
                                   <p class="text-15">Увеличивайте продажи вдвое за счет удобства ведения диалога, сокращая времени ожидания и исчерпывающих данных аналитики.</p>
                               </div>
                           </div>
                           <div>
                               <div class="slider-slide">
                                   <img src="img/icon_7.png" alt="icon" class="slider-icon">
                                   <h3 class="text-24">Продажи x2</h3>
                                   <p class="text-15">Увеличивайте продажи вдвое за счет удобства ведения диалога, сокращая времени ожидания и исчерпывающих данных аналитики.</p>
                               </div>
                           </div>
                           <div>
                               <div class="slider-slide">
                                   <img src="img/icon_7.png" alt="icon" class="slider-icon">
                                   <h3 class="text-24">Продажи x2</h3>
                                   <p class="text-15">Увеличивайте продажи вдвое за счет удобства ведения диалога, сокращая времени ожидания и исчерпывающих данных аналитики.</p>
                               </div>
                           </div>
                       </div>

				   </li>
				   <li class="content-item"></li>
			   </ul>
		   </div>
	   </section>

   </div>
    @import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>

</body>
</html>
